<h2>Comment</h2>
<!--clicking on Add button will invoke ngSubmit as the button has type="submit"-->
<!--Current form is declared addrForm-->
<form #commForm="ngForm" (ngSubmit)="processForm(commForm)">
      <div >
      <mat-form-field>
        <input matInput type="text" name="comment"  placeholder="Please write a comment*" ngModel required>
      </mat-form-field>
      <div class="divider"></div>
        <button type="submit" mat-raised-button color="accent" [disabled]="commForm.invalid">
            <mat-icon>library_add</mat-icon>
          Add
        </button>
      </div>
</form>
