
<table>
  <tr>
    <td>
        <h3>{{character.name}}</h3>
    </td>
    <td>
      <button type="submit" (click)='shareApi(character.name)' mat-raised-button color="accent"> <mat-icon>share</mat-icon></button>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
<img src="https://starwars-visualguide.com/assets/img/characters/{{id}}.jpg" onError="this.src='images/noImage.png'" alt="" class="profile">
</td>
<table class=capitalize>
  <tr>
    <td>
      Height:
    </td>
    <td>
      {{character.height}}
    </td>
  </tr>
  <tr>
    <td>
      Mass:
    </td>
    <td>
      {{character.mass}}
    </td>
  </tr>
  <tr>
    <td>
      Hair Color:
    </td>
    <td>
      {{character.hairColour}}
    </td>
  </tr>
  <tr>
    <td>
      Skin Color:
    </td>
    <td>
      {{character.skinColour}}
    </td>
  </tr>
  <tr>
    <td>
      Eye Color:
    </td>
    <td>
      {{character.eyeColour}}
    </td>
  </tr>
  <tr>
    <td>
      Birth Year:
    </td>
    <td>
      {{character.birthYear}}
    </td>
  </tr>
  <tr>
    <td>
      Gender:
    </td>
    <td>
      {{character.gender}}
    </td>
  </tr>
  <tr>
    <td>
      Homeworld:
    </td>
    <td>
      <tr *ngFor="let planet of character.homeWorld" class="linkable">
        <a (click)="goToLink('planets',planet.id)">
          {{planet.name}}
        </a>
      </tr>
    </td>
  </tr>
  <tr>
    <td>
      Species:
    </td>
    <td>
  <tr *ngFor="let species of character.species" class="linkable">
    <a (click)="goToLink('species',species.id)">
      {{species.name}}
    </a>
  </tr>
  </td>
  </tr>
</table>
</tr>
</table>

<table width= 750px >
<tr >
  <td>
    Films:
  </td>
  <td style="text-align:center" *ngFor="let film of character.films">
  <img src="https://starwars-visualguide.com/assets/img/films/{{film.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('film',film.id)">
  </td>
<tr >
    <td>
    </td>
    <td style="text-align:center" *ngFor="let film of character.films">
      <a (click)="goToLink('film',film.id)">
        {{film.title}}
      </a>
      </td>
</tr>
</table>

<table width= 750px >
  <tr >
    <td>
      Vehicles:
    </td>
    <td style="text-align:center" *ngFor="let vehicles of character.vehicles">
    <img src="https://starwars-visualguide.com/assets/img/vehicles/{{vehicles.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('vehicles',vehicles.id)">
    </td>
  <tr >
      <td>
      </td>
      <td style="text-align:center" *ngFor="let vehicles of character.vehicles">
        <a (click)="goToLink('vehicles',vehicles.id)">
          {{vehicles.name}}
        </a>
        </td>
  </tr>
  </table>

  <table width= 750px >
    <tr >
      <td>
        Starships:
      </td>
      <td style="text-align:center" *ngFor="let starship of character.starships">
      <img src="https://starwars-visualguide.com/assets/img/starships/{{starship.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('starships',starship.id)">
      </td>
    <tr >
        <td>
        </td>
        <td style="text-align:center" *ngFor="let starship of character.starships">
          <a (click)="goToLink('starships',starship.id)">
            {{starship.name}}
          </a>
          </td>
    </tr>
    </table>

<app-add-comment (onNewComment)="addNewComment($event)">
</app-add-comment>

<app-list-comment [comments]="comments"></app-list-comment>