<h3>{{film.title}}</h3>
<table class="capitalize" border="1">
  <tr>
    <td>
      Episode Id:
    </td>
    <td>
      {{film.episode_id}}
    </td>
  </tr>
  <tr>
    <td>
      Opening Crawl:
    </td>
    <td>
      {{film.opening_crawl}}
    </td>
  </tr>
  <tr>
    <td>
      Director
    </td>
    <td>
      {{film.director}}
    </td>
  </tr>
  <tr>
    <td>
      Producer:
    </td>
    <td>
      {{film.producer}}
    </td>
  </tr>
  <tr>
    <td>
      Release Date:
    </td>
    <td>
      {{film.release_date}}
    </td>
  </tr>
  <tr>
    <td>
      Characters:
    </td>
    <td>
  <tr *ngFor="let character of film.characters">
    <a (click)="goToLink('people',character.id)">
      {{character.name}}
    </a>
  </tr>
  </td>
  </tr>
  <tr>
    <td>
      Planets:
    </td>
    <td>
  <tr *ngFor="let planet of film.planets">
    <a (click)="goToLink('planets',planet.id)">
      {{planet.name}}
    </a>
  </tr>
  </td>
  </tr>
  <tr>
    <td>
      Starships:
    </td>
    <td>
  <tr *ngFor="let starship of film.starships">
    <a (click)="goToLink('starships',starship.id)">
      {{starship.name}}
    </a>
  </tr>
  </td>
  </tr>
  <tr>
    <td>
      Vehicles:
    </td>
    <td>
  <tr *ngFor="let vehicles of film.vehicles">
    <a (click)="goToLink('vehicles',vehicles.id)">
      {{vehicles.name}}
    </a>
  </tr>
  </td>
  </tr>
  <tr>
    <td>
      Species:
    </td>
    <td>
  <tr *ngFor="let species of film.species">
    <a (click)="goToLink('species',species.id)">
      {{species.name}}
    </a>
  </tr>
  </td>
  </tr>
</table>