<table>
  <tr>
    <td>
        <h3>{{film.title}}</h3>
    </td>
    <td>
      <button type="submit" (click)='shareApi(film.title)' mat-raised-button color="accent"> <mat-icon>share</mat-icon></button>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
<img src="https://starwars-visualguide.com/assets/img/films/{{id}}.jpg" alt="" class="profile">
</td>
<table class=capitalize>
  <tr>
    <td>
      Opening Crawl:
    </td>
    <td>
      {{film.opening_crawl}}
    </td>
  </tr>
  <tr>
    <td>
      Director
    </td>
    <td>
      {{film.director}}
    </td>
  </tr>
  <tr>
    <td>
      Producer:
    </td>
    <td>
      {{film.producer}}
    </td>
  </tr>
  <tr>
    <td>
      Release Date:
    </td>
    <td>
      {{film.release_date}}
    </td>
  </tr>
  <tr>
    <td>
      Characters:
    </td>
    <td>
  <tr *ngFor="let character of film.characters" class="linkable">
    <a (click)="goToLink('people',character.id)">
      {{character.name}}
    </a>
  </tr>
  </td>
  </tr>
</table>
</tr>
</table>




<table width= 750px >
  <tr >
    <td>
      Species:
    </td>
    <td style="text-align:center" *ngFor="let species of film.species">
    <img src="https://starwars-visualguide.com/assets/img/species/{{species.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('species',species.id)">
    </td>
  <tr >
      <td>
      </td>
      <td style="text-align:center" *ngFor="let species of film.species">
        <a (click)="goToLink('species',species.id)">
          {{species.name}}
        </a>
        </td>
  </tr>
  </table>
  
  <table width= 750px >
    <tr >
      <td>
        Vehicles:
      </td>
      <td style="text-align:center" *ngFor="let vehicles of film.vehicles">
      <img src="https://starwars-visualguide.com/assets/img/vehicles/{{vehicles.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('vehicles',vehicles.id)">
      </td>
    <tr >
        <td>
        </td>
        <td style="text-align:center" *ngFor="let vehicles of film.vehicles">
          <a (click)="goToLink('vehicles',vehicles.id)">
            {{vehicles.name}}
          </a>
          </td>
    </tr>
    </table>
  
    <table width= 750px >
      <tr >
        <td>
          Starships:
        </td>
        <td style="text-align:center" *ngFor="let starship of film.starships">
        <img src="https://starwars-visualguide.com/assets/img/starships/{{starship.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('starships',starship.id)">
        </td>
      <tr >
          <td>
          </td>
          <td style="text-align:center" *ngFor="let starship of film.starships">
            <a (click)="goToLink('starships',starship.id)">
              {{starship.name}}
            </a>
            </td>
      </tr>
      </table>

      <table width= 750px >
        <tr >
          <td>
            Planets:
          </td>
          <td style="text-align:center" *ngFor="let planet of film.planets">
          <img src="https://starwars-visualguide.com/assets/img/planets/{{planet.id}}.jpg" alt="" class="logo" onError="this.src='images/noImage.png'" (click)="goToLink('planets',planet.id)">
          </td>
        <tr >
            <td>
            </td>
            <td style="text-align:center" *ngFor="let planet of film.planets">
              
                <a (click)="goToLink('planets',planet.id)">
                  {{planet.name}}
                </a>
              
              </td>
        </tr>
        </table>
  
  <app-add-comment (onNewComment)="addNewComment($event)">
  </app-add-comment>
  
  <app-list-comment [comments]="comments"></app-list-comment>