.mat-toolbar.mat-primary{
    background: #ffd700;
    color: black;
}

body {
    background-image: url("/assets/background/stormtroopers.jpg"); 
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #ffd700;
   }
